*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Comic Sans MS, cursive;
}

body{
overflow:hidden;
background:linear-gradient(#87CEFA,#4CAF50);
}

/* SCREENS */
#menu,#leaderboard{
position:absolute;
width:100%;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:rgba(0,0,0,0.3);
}

.hidden{
display:none;
}

h1{
font-size:45px;
color:white;
margin-bottom:30px;
}

button{
padding:14px 35px;
margin:10px;
font-size:20px;
border-radius:30px;
border:none;
cursor:pointer;
background:linear-gradient(45deg,#ff9800,#ff5722);
color:white;
transition:0.3s;
}

button:hover{
transform:scale(1.1);
}

/* HUD */
#hud{
position:absolute;
top:15px;
width:100%;
display:flex;
justify-content:space-between;
padding:0 20px;
font-size:20px;
color:white;
}

#hearts{
animation:heartBeat 1.2s infinite;
}

@keyframes heartBeat{
0%{transform:scale(1);}
50%{transform:scale(1.2);}
100%{transform:scale(1);}
}

#gameCanvas{
width:100%;
height:100vh;
display:block;
cursor:crosshair;
}

#branding{
position:absolute;
bottom:10px;
width:100%;
text-align:center;
color:white;
font-size:14px;
}

#scoresList{
list-style:none;
font-size:20px;
color:white;
}
